<!DOCTYPE html>
<html>
<head>
  <title>Simsamp</title>
<%= stylesheet_link_tag "/stylesheets/application.css" %>
  <%= javascript_include_tag "/javascripts/application.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id=”nav”>
	<% if current_user %>
		<%= link_to "Sign out", logout_path %>
		<%= link_to "Edit Profile", edit_user_path(current_user.id)%>
	<% else %>
		<%= link_to "Sign in", login_path %>
	<%= link_to "Register", new_user_path %>
	<% end %>
</div>



<%= yield %>
</body>
</html>
